/* Clases beneficiario*/
.informacion-seccion-contorno {
    margin-top: 10px;
    /* outline: 2px solid red; */
    border-radius: 16px;
    border: 2px solid #ccc;
    padding: 10px;
}

.informacion-seccion-titulo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    color: beige;
    margin-bottom: 15px;
}

/* Diseño de Tabla*/
.minimal-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.minimal-table th,
.minimal-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.minimal-table thead th {
    background-color: #f4f4f4;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.minimal-table tbody tr {
    background-color: #fff;
    transition: background-color 0.2s ease;
}

.minimal-table tbody tr:hover {
    background-color: #f9f9f9;
}

.minimal-table input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.btn-editar {
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s ease;
}

.btn-eliminar {
    padding: 8px 12px;
    background-color: #e7562e;
    color: #fff;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s ease;
}

.btn-editar:hover {
    background-color: #0056b3;
}

.btn-eliminar:hover {
    background-color: #970f0a;
}